.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #202020;
  border: 1px solid #202020;
  color: rgb(255, 255, 255);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #d20000;
  border-color: #d20000;
}